*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


header {
    background-color: rgb(234, 201, 38);

}

.icono-hamburguesa{
    background-color: rgba(3, 38, 76);
    color:  white;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;


}
.menu-hamburguesa{
   margin: auto;
    text-align: center;
}

.cuerpotexto{
    font-size: 18px;
    
}

.banner {
    width: 100vw;
    max-width: 100%;
    margin-top: 0px;
}
p.compra-cuotas{
    text-align: center;
}
.busqueda{
    background-color: white;
}

a.negrita {
    color: black;
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
    color: blue;
    text-align: left;
}

.descuentos {
    font-size: 16px;
    color: green;
    text-align: left;
}

.descripcion {
    font-size: 16px;
    text-align: left;
}

.paga{
    background:white;
    color: blue;
    text-align: center;
    font-size: 40px;
}

.envio{
    background:white;
    color: blue;
    font-size: 40px;
    
}

.seguridad {
    background:white;
    color: blue;
    text-align: center;
    font-size: 40px;
}

.centrar-footer {
    text-align: center;
}

.icono-tarjeta {
    text-align: center;
}
.icono-regalo {
    text-align: center;
}
.icono-seguridad {
    text-align: center;
}
.icono-carrito{
    color: green;
    text-align: left;
    border-radius: 50%;
    border: solid 1px green;
    padding: 10px;
    
}


main{
    background-color: #ebebeb;

}


article{
    margin-top: 10px;
    margin-bottom: 10px; 
} 
    
.caja-articulos{
        border: 1px solid #ebebeb;
        padding: 15px;
    }
    
section img{
    border-bottom: 1px solid #ebebeb;
    width: 90%;
}   




/* mobile */
@media (min-width:0px) and (max-width:480px){
    .descripcion{
        display: none;
    }
    .negrita{
        display: none;
    }

}

/*tablets*/
@media (min-width: 481px){
    .caja-articulos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .icono-hamburguesa{
        display: none;
    }
}
/*desktop*/
@media (min-width: 769px){
    .caja-articulos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .icono-hamburguesa{
        display: none;
    }
}
