*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #222222;
}

ul{
    list-style-type: none;
    
}



header {
    background-color: rgb(234, 201, 38);

}

.logo{
    width: 50%;
    height: 230px;
}

.icono-hamburguesa{
    background-color: rgba(3, 38, 76);
    color: white;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;
    margin: auto;
    text-align: center;
    display: block;
    width: 40px;


}

.menu-hamburguesa{
   margin: auto;
    text-align: center;
}




.cuerpotexto{
    background-color: #eac926;
    
    
    
}


.banner {
    width: 100vw;
    max-width: 100%;
    margin-bottom: -4px;
}   

main{
    background-color: #ebebeb;
}
.compra-cuotas{
    text-align: center;
    /*margin: 10px; */
    padding: 15px;
}

.busqueda{
    background-color: white;
}


a.negrita {
    color: black;
}


.titulares {
    font-size: 24px;
    margin-left: 66px;
    padding: 20px;
}


.precios {
    font-size: 18px;
    color: blue;
    text-align: left;
    width: 30%;
}


.descuentos {
    font-size: 16px;
    color: green;
    text-align: left;
    width: 70%;
}


.descripcion {
    font-size: 16px;
    text-align: left;
    display: none;
    transition: 0.5s;
}


.paga{
    background:white;
    color: blue;
    text-align: center;
    font-size: 40px;
    margin: 15px;
}


.envio{
    background:white;
    color: blue;
    font-size: 40px;
    margin: 15px;
    
}


.seguridad {
    background:white;
    color: blue;
    text-align: center;
    font-size: 40px;
    margin: 15px;
}


.centrar-footer {
    text-align: center;
}

.icono-tarjeta {
    text-align: center;

}
.icono-regalo {
    text-align: center;

}
.icono-seguridad {
    text-align: center;

}
.icono-carrito{
    color: green;
    text-align: left;
    border-radius: 50%;
    border: solid 1px green;
    position: absolute;
    transform: rotate(0deg);
    
}


.abajo-imagen{
    position: relative;
}

article{
    margin: 10px;
} 
    
.caja-articulos{
        /*border: 10px solid #ebebeb;*/
        padding: 15px;
        background-color: white;
        height: fit-content;  
    }
    
section img{
    border-bottom: 1px solid #ebebeb;
    width: 90%;
}   

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }

    .renglon{
        display: flex;
          
    }

    .main-header-top-bar{
        display: flex;
    }

    .barra-busqueda{
        margin: auto;
        font-size: 35px;
        display: flex;
    }
    

    .busqueda-2{
        width: 70%;
    }

    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

.formulario{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    background-color: #ebebeb;
    padding: 20px;
    height: 260px;
}

.formulario-register{
    display: flex;
    flex-direction: column;
    text-align: inherit;
    background-color: #ebebeb;

}

.formulario-propiedades{
    padding: 10px;

}

.formulario-propiedades-registro{
    margin: auto;
    padding: 10px;
    text-align: inherit;
}

.input-en-login{
    border-radius: 8px;
    width: 35%;
    height: 35px;

}

.boton-enviar-login{
    background-color:rgb(24, 24, 151);
    color: white;
    border-radius: 8px; 
        width: 45%;
    text-align: center;
    margin: auto;
    padding: 5px;
}

.botones-en-register{
    background-color: rgb(24, 24, 151);
    color: white;
    border-radius: 8px;
    width: 50%;
    padding: 5px;
}

.boton-enviar-login:hover{
    background-color: #0022AA;
}

.h2-completar-datos{
    background-color: #ebebeb;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.input-registro{
    display: flex;
    border-radius: 5px;
    width: 250px;
    height: 25px;
    border: solid 1px;


}

.botones-en-register{
    margin: auto;
    width: 500px;
    
}


/* mobile */
@media (min-width:0px) and (max-width:480px){
    .descripcion{
        display: none;
    }
    
    .both-navbar{
        display: none;
    }

    .titulares{
        font-size: 24px;
    }

    
}


/*tablets*/
@media (min-width: 481px) {
    /*.caja-articulos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    */

    .both-navbar{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 5px;
    } 
    
    .left-navbar{
        display: flex;
        margin: 5px;

    }
    .right-navbar{
        display: flex;
        margin: 5px;
        
    }
    a{
        margin: 10px;
    }

    .icono-hamburguesa{
        display: none;
    }

    .cuotas-flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .barra-busqueda {
        margin: auto;
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
    

    


}
/*desktop*/
@media (min-width: 769px){
    
    
     main section{
         flex-wrap: nowrap;
     }

     .caja-articulos:hover .descripcion{  /* DESAPARECE LA DESCRIPCION AL PONER EL MOUSE*/
       display: flex;
   }

   .caja-articulos{
       box-shadow: 0px 0px 0px rgb(100, 100, 100);
   }
   
   .caja-articulos:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


   .caja-articulos:hover{
    transition: box-shadow 0.5s;
   }

  
  
   .icono-carrito:hover{           /* ANIMACION GIRAR CARRITO 90 ~grados*/
    transform: rotate(-90deg);
}

.icono-carrito{
    transition: transform 0.5s;     /* ANIMACION GIRAR CARRITO*/
}



.footer-flex{
    display: flex;
    padding: 36px;
    margin: 15px;
}

    .Copyright{
        text-align: left;
        padding: 10px;
    }
}

